<body>
    <div class="wrapper">
        <h1>Guess The Number</h1>
        <img src="./assets/img/undraw_gaming_re_cma2.svg" alt="#">
        <h3>Pick a level</h3>
        <div class="buttons">
            <app-game-level-button [name]='easyLevel'></app-game-level-button>
            <app-game-level-button [name]='mediumLevel'></app-game-level-button>
            <app-game-level-button [name]='hardLevel'></app-game-level-button>
        </div>
        <hr>
        <p id="howToPlay">How to play?</p>
        <p id="textOnHover">The point of the game is to guess the number that is randomly generated.<br> 
        If your guess is too high or too low, you'll get a hint. <br>
        Number  of attempts is 5!</p>
    </div>
</body>

    